doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:700,900')
    script(src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js", data-cf-settings="0ae14f6d46b551ea185ecf49-|49",defer="")
  body
    block content